@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap&subset=latin-ext');

$primary-color: #f0f5f9;
$marginForGridImg: 25px 0;
$mainFontFamily: 'Abril Fatface', ;
$secondaryFontFamily: 'Rokkitt', ;
$greyColorBtn: rgba(199, 191, 191, 0.404);
$greyColorBackground: #f7f7f7;


header{
  padding: 10px 0;
}

.header-mobile{
  display: none;
}

.logo{
  font-family: $mainFontFamily ;
  font-size: 40px;
  border-right: 1px solid #aaa4a4;
  }

.hrefLogo{
  color: #000;
  text-decoration: none;
  &:hover{
    color: #000;
    text-decoration: none;
  }
  }

.trigger{
  display:none;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;

  li{
    font-family: 'Rokkitt', ;
    font-size: 15px;
    list-style-type: none;
    color: rgb(88, 86, 86);
    padding: 10px;
    &:hover{
      background-color: #000;
      color: #fff;
      border-radius: 50px;
    }
    a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        &:hover{
          color: #fff;
        }
    }
  }
}


#timer1{
  font-size: 16px;
  font-weight: bold;
  color: grey;
  background-color: rgba(255, 166, 0, 0.596);
  border-radius: 50px;
  padding: 5px 20px;
  z-index: 5;
}


.account,.search,.basket{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(88, 86, 86);
}

.search{
  border-left: 1px solid #aaa4a4;
  svg{
    font-size: 20px;
    color: #000;
    &:hover{
      color: #aaa4a4;
    }
  }
  form{
    display: none;
    z-index: 5;
    position: absolute;
    top: 50px;
    right: 28px;
    input{
      border: 1px solid $greyColorBtn;
      font-size: 12px;
      padding: 5px 10px;
    }
  }
}

.basket{
  img{
    max-width: 60%;
  }
}
/////////Cart///////////////
.container-cart{
  display: none;
  width: 25%;
  height: 300px;
  background: #fff;
  position: absolute;
  top: 60px;
  left: 870px;
  border: 1px solid $greyColorBackground;
  
  .slot{
    overflow: scroll;
    overflow-x: hidden;
    height: 250px;
    .item{
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      .img{
        max-width: 30%;
        margin: 0 10px;
        background: url(./image/bjursta-extendable-table__.webp)100% 100% no-repeat;
        } 
        .productInfo{
          margin: 0 20px;
          .name{
            font-size: 12px;
            font-weight: bold;
            color: rgb(185, 181, 181);
          }
          .price{
            font-size: 12px;
            font-weight: bold;
          }
        }
        .removeProduct{
          margin-left: 20px;
        }
    }
  }
  .viewCart{
    width: 100px;
    height: 30px;
    margin: 10px 20px;
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #000;
    font-size: 14px;
    padding: 5px 20px;
    font-family: $secondaryFontFamily;
    font-weight: bold;
    &:hover{
      background-color: rgb(129, 126, 126);
      border: 1px solid rgb(129, 126, 126);
      color: #fff;
    }
  }
}

.close{
  position: fixed;
  right: 170px;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  &:hover{
    color: rgb(54, 52, 52);
  }
}

.container-counter{
  background: #fff;
  color: #000;
  border-radius: 50px;
  padding: 0 6px;
  font-size: 12px;
  z-index: 2;
  position: relative;
  left: 40px;
  top: -16px;
}

//////

.account{
  .dropbtn {
    color: #000;
    background: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    svg{
      font-size: 14px;
      margin-left: 5px;
    }
  }
}  

  .dropdown {
    position: relative;
    display: inline-block;
    &:hover .dropdown-content {
      display: block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {background-color: #f1f1f1}
      }
    }
    
  }


.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  height: 400px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .content{
    margin-right: 5%;
    h2{
      font-family: $mainFontFamily;
      font-size: 30px;
    }
    p{
      font-family: $secondaryFontFamily;
      font-size: 14px;
      color: rgb(146, 146, 146);
      margin: 20px 0;

      padding: 0;
    }
    a{
      width: 100px;
      height: 50px;
      background-color: #fff;
      color: #000;
      border-radius: 50px;
      font-size: 14px;
      padding: 10px 20px;
      font-family: $secondaryFontFamily;
      font-weight: bold;
      text-decoration: none;
      &:hover{
        background-color: #000;
        color: #fff;
      }
    }
  }
  img{
    max-height: 350px;
    max-width: 400px;
  }
}

.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.4;
  height: 40px;
  transform: translateY(-50%);
  background: #000;
  border-radius: 50px;
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*.slider__item>div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}*/

.container3{
  padding: 50px 0;
  .text{
    h3{
      font-family: $secondaryFontFamily;
      color: rgb(29, 28, 28);
      font-weight: bold;
      font-size: 20px;
      border-top: 1px solid #aaa4a4;
      padding-top: 20px;
      
    }
    p{
      font-family: $secondaryFontFamily;
      color: rgb(121, 121, 121);
      font-size: 16px;
      padding-bottom: 20px;
      border-bottom: 1px solid #aaa4a4;
    }
  }
}

.container4{
  h2{
    font-size: 30px;
    font-family:  $mainFontFamily;
    text-align: center;
    margin-bottom: 30px;
  }
  .item{
    height: 580px;
    margin-bottom: 20px;
    .square1{
      background-color: $greyColorBackground;
      height: 400px;
      margin: $marginForGridImg;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        font-size: 25px;
        font-weight: bold;
      }
      img{
        max-width: 100%;
      }
      span{
        color: red;
        font-size: 18px;
        font-weight: 400;
      }
    }
    .square2{
      background-color: $greyColorBackground;
      height: 100px;
      margin: $marginForGridImg;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        max-width: 50%;
        margin-left: 7%;
      }
      span{
        color: red;
        font-size: 12px;
      }
      p{
        font-size: 20px;
      }
    }
    .square3{
      background-color:$greyColorBackground;
      height: 200px;
      margin: $marginForGridImg;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        max-width: 100%;
        max-height: 80%;
      }
      a{
        width: 100px;
        height: 30px;
        background-color: #fff;
        color: #000;
        border-radius: 50px;
        font-size: 8px;
        padding: 10px 20px;
        font-family: $secondaryFontFamily;
        font-weight: bold;
        text-decoration: none;
        box-shadow: 0px 0px 3px 0px #000000;
        &:hover{
          background-color: #000;
          color: #fff;
        }
      }
    }
    .square4{
      background-color: $greyColorBackground;
      height: 300px;
      margin: $marginForGridImg;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        max-width: 100%;
        max-height: 70%;
      }

      a{
        width: 100px;
        height: 30px;
        background-color: #fff;
        color: #000;
        border-radius: 50px;
        font-size: 8px;
        padding: 10px 20px;
        font-family: 'Rokkitt', ;
        font-weight: bold;
        text-decoration: none;
        z-index: 1;
        box-shadow: 0px 0px 3px 0px #000000;
        &:hover{
          background-color: #000;
          color: #fff;
        }
      }
      p{
        font-size: 25px;
      }
    }
    .square5{
      background-color: $greyColorBackground;
      height: 300px;
      margin: $marginForGridImg;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        font-weight: bold;
        font-size: 25px;
      }
      img{
        max-width: 100%;
        max-height: 60%;
      }
      span{
        color: red;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .square6{
      background-color: $greyColorBackground;
      height: 200px;
      margin: $marginForGridImg;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        max-width: 100%;
        max-height: 90%;
      }
      p{
        font-size: 22px;
      }
    }
  }
}

.container5{
  h3{
    text-align: center;
    font-family: $mainFontFamily;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
  }
  .item{
    .advantages{
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      svg{
        font-size: 30px;
        color: grey;
        margin: 10px 0;
      }
      h4{
        font-size: 16px;
        color: rgb(68, 67, 67);
      }
      p{
        font-size: 13px;
        color: grey;
        text-align: center;
      }
    }
  }
}

.brandSlider{
  display: none;
}
.container6{
  margin: 60px 0;
  .item{
    img{
      max-width: 100px;
    }
  }
}

footer{
  background-color: $primary-color;
  padding-top: 40px;
  p{
    color: #aaa4a4;
    font-size: 14px;
  }
  h4{
    font-size: 16px;
    font-weight: bold;
    color: #5e5959;
  
  }
  ul{
    padding-inline-start: 0;
    li{
      color: #aaa4a4;
      font-size: 14px;
      &:hover{
        background-color: $primary-color;
        color: #5e5959;
      }
    }
  }
  .pay{
    img{
      max-width: 80%;
    }
    .appStore{
      max-width: 60%;
      margin-top: 20px;
      border-top: 1px solid #aaa4a4;
      padding-top: 20px;
    }
  }
}


//////////media//////////////
@media (max-width:960px){
  header {
    padding: 4px 0;
}
  .logo {
    font-size: 25px;
  }
  .navbar {
    padding: .5rem .1rem;
  }
  .nav-menu li {
    font-size: 14px;
    padding: 0px;
  }
  .nav-menu li a {
   padding: 12px 15px;
  }
  .account .dropbtn {
    font-size: 13px;
  }
  .account .dropbtn svg {
    font-size: 11px;
    margin-left: 2px;
  }
  .search svg {
    font-size: 15px;
  }
  .basket .circle svg {
    font-size: 10px;
  }
  .basket img {
    max-width: 100%;
  }
  .slider__item img {
    max-height: 300px;
  }
  .slider__item .content h2 {
    font-size: 25px;
  }
  .slider__item .content a {
    font-size: 12px;
  }
  .slider__control_right {
    right: 20px;
  }
  .slider__control {
    width: 35px;
    height: 35px;
  }
  .slider__control_left {
    left: 20px;
  }
  .container3 {
    padding: 45px 0;
  }

  .container3 .text h3 {
    font-size: 17px;
    padding-top: 13px;
  }
  .container3 .text p {
    font-size: 14px;
    padding-bottom: 13px;
  }
  .container4 h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .container4 .item .square3 img {
    max-width: 90%;
  }
  .container4 .item .square1 img {
    max-width: 90%;
  }
  .container4 .item .square1 span {
    font-size: 16px;
  }
  .container4 .item .square1 p {
    margin-bottom: 40px;
  }
  .container4 .item .square5 img {
    max-width: 90%;
    max-height: 55%;
  }
  .container4 .item .square4 img {
    max-width: 80%;
    margin-bottom: 20px;
  }
  .container4 .item .square6 img {
    max-height: 80%;
  }
  .container4 .item .square2 p {
    font-size: 18px;
  }
  .container5 h3 {
    text-align: center;
    font-family: "Abril Fatface";
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }
  .contacts .item .svg {
    font-size: 16px;
    margin: 0 10px;
  }
  .contacts .item P {
    font-size: 13px;
  }
  .about h3 {
    font-size: 18px;
  }
  .about p {
    font-size: 14px;
  }
  .about .listTask li {
    font-size: 14px;
  }
  .faq h2 {
    margin: 40px 0;
  }
  .faq .generalQuestions .accordion {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 14px;
  }
}

@media (max-width:720px){
  .desctope{
    display: none;
  }
  .header-mobile{
    display: block;
  }
  .nav-menu{
    display:none;
  }
  .trigger{
    display:inline-block;
    cursor:pointer;
   }
   .trigger i{
     display:block;
     width: 42px;
     height:6px;
     margin:4px auto;
     background:#222;
   }
   .show {
    display: block;
    background: #fff;
    height: 100vh;
    width: 155px;
    position: absolute;
    top: 0;
    left: -88px;
    z-index: 5;
}
  .nav-menu li {
    font-size: 18px;
    margin: 15px 5px;
    padding: 0px;
}
  .logo {
    font-size: 50px;
    text-align: center;
  }
  .navbar{
    font-size: 16px;
  }
  .account .dropbtn svg {
    font-size: 25px;
  }
  .search svg {
    font-size: 25px;
  }
  .search {
    border: none;
  }
  .basket img {
    max-width: 70%;
  }
  .slider__item img {
    max-height: 215px;
  }
  .slider__item .content {
    margin-left: 4%;
  }
  .slider__item {
    height: 320px;
  }
  .container4 h2 {
    font-size: 23px;
  }
  .container4 .item .square1 p {
    margin-bottom: 68px;
    padding: 10px;
    font-size: 20px;
  }
  .container4 .item .square5 p {
    font-weight: bold;
    font-size: 20px;
  }
  .container5 h3 {
    font-size: 23px;
  }
  .container5 .item .advantages h4 {
    font-size: 12px;
  }
  .container5 .item .advantages svg {
    font-size: 25px;
    margin: 5px 0;
  }
  .container5 .item .advantages p {
    font-size: 12px;
  }
  .container6{
    display: none;
  }

  .brandSlider{
    display: block;
    position: relative;
    overflow: hidden;
  }

  .slider-wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider-item {
    flex: 0 0 100%;
    max-width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
      max-width: 100%;
      margin: 0 80px;
    }
  }

  .slider-control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 35px;
    color: #fff;
    text-align: center;
    opacity: 0.4;
    height: 35px;
    transform: translateY(-50%);
    background: #000;
    border-radius: 50px;
  }

  .slider-control_show {
    display: flex;
  }

  .slider-control:hover,
  .slider-control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .slider-control_left {
    left: 50px;
  }

  .slider-control_right {
    right: 50px;
  }

  .slider-control::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider-control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider-control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  footer h4 {
    font-size: 14px
  }
  footer .pay img {
    max-width: 100%;
  }
  footer .pay .appStore {
    max-width: 100%;
  }
}

@media (max-width:375px){
  .desctope{
    display: none;
  }
  .header-mobile{
    display: block;
  }
  
  .logo {
    font-size: 35px;
    text-align: center;
  }
  .account .dropbtn svg {
    font-size: 22px;
  }
  .search svg {
    font-size: 22px;
  }
  .search {
    border: none;
  }
  .basket img {
    margin-right: 22px;
  }

  .trigger {
    margin-left: 2px;
  }
  .slider__item .content h2 {
    font-size: 16px;
  }
  .slider__item img {
    max-height: 180px;
  }

  .slider__item {
    height: 250px;
    padding: 16px;
  }
  .slider__item .content a {
    padding: 8px 16px;
  }
  .trigger i {
    height: 5px;
  }
  .container3 {
    padding: 20px 0;
}
.container3 .text h3 {
  font-size: 15px;
}
.container4 h2 {
  font-size: 20px;
  margin-bottom: 5px;
}
.container4 .item .square1 img {
  max-width: 84%;
}
.container4 .item .square1 p {
  font-size: 19px;
}
.container4 .item {
  margin-bottom: 0px;
}
.container4 .item .square3 {
  margin: 0;
}
.container4 .item .square3 a {
  width: 100px;
  height: 25px;
}

.container4 .item .square4 p {
  font-size: 20px;
}
.container4 .item .square4 img {
  max-height: 60%;
}
.container4 .item .square4 a {
  width: 100px;
  height: 25px;
}
.container4 .item .square5 p {
  font-size: 22px;
}
.container4 .item .square5 img {
  max-height: 70%;
}
.container4 .item .square6 p {
  font-size: 20px;
}
.container5 h3 {
    font-size: 22px;
    margin: 0px 0;
}

.container6{
  display: none;
}

.brandSlider{
  display: block;
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider-item {
  flex: 0 0 100%;
  max-width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img{
    max-width: 100%;
    margin: 0 15px;
  }
}

.slider-control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 25px;
  color: #fff;
  text-align: center;
  opacity: 0.4;
  height: 25px;
  transform: translateY(-50%);
  background: #000;
  border-radius: 50px;
}

.slider-control_show {
  display: flex;
}

.slider-control:hover,
.slider-control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider-control_left {
  left: 0;
}

.slider-control_right {
  right: 0;
}

.slider-control::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider-control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider-control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
}