$primary-color: #f0f5f9;
$marginForGridImg: 25px 0;
$mainFontFamily: 'Abril Fatface', ;
$secondaryFontFamily: 'Rokkitt', ;
$greyColorBtn: rgba(199, 191, 191, 0.404);
$greyColorBackground: #f7f7f7;

.titlePage{
  width: 100%;
  background-color: $primary-color;
  font-size: 25px;
  height: 80px;
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  h2{
    font-size: 23px;
    margin: 0;
  }
    .breadcrumb > li + li:before {
    content: "/";
    padding: 0 5px;

    }
    .breadcrumb{
      font-size: 14px;
      background-color: $primary-color;
      margin-block-end: 0;
    }
}

.container-product{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: start;
}

.container-product {
  .item{
  width: 170px;
  height: 240px;
  background-color: #fff;
  box-shadow: 0px 0px 3px 0px rgb(212, 209, 209);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  &:hover{
    box-shadow: 0px 0px 15px 0px rgb(212, 209, 209);
  }
  .img{
    max-width: 100%;
    background: url(./image/bjursta-extendable-table__.webp)100% 100% no-repeat;
    } 
    .name{
      font-size: 12px;
      font-weight: bold;
      color: rgb(185, 181, 181);
    }
    .price{
      font-size: 12px;
      font-weight: bold;
    }
    .btn{
      width: 62px;
      background-color: rgba(199, 191, 191, 0.404);
      color: #000;
      border-radius: 50px;
      font-size: 12px;
      padding: 3px 10px;
      font-family: $secondaryFontFamily;
      &:hover{
        background-color: rgb(255, 119, 8);
        color: #fff;
      }
    }
    .btnInfo{
      width: 62px;
      background-color: rgba(199, 191, 191, 0.404);
      color: #000;
      border-radius: 50px;
      border: none;
      font-size: 12px;
      padding: 3px 20px;
      font-family: $secondaryFontFamily;
      &:hover{
        background-color: rgb(255, 119, 8);
        color: #fff;
      }
    }
    
    
  }
}

  



.navMenu{
  margin: 10px 0;
  font-weight: bold;
  .shop-menu{
    margin-block-start: 0;
    padding-inline-start: 0;
    margin-block-end: 0;
    font-weight: bold;
    padding: 12px;
    li{
      font-weight: normal;
      font-size: 16px;
      list-style-type: none;
      margin: 10px 0;
      cursor: pointer;
      color: grey;
      &:hover{
        color: #000;
      }
      svg{
        font-size: 13px;
      }
      
    }
  }

  .inputPrice{
    padding: 20px 10px;
    font-weight: bold;
    margin-top: 20px;
    input{
      width: 50px;
      border-radius: 30px;
      border: 1px solid rgba(175, 171, 171, 0.767);
    }
  }
}

/////////////DetailedInfo///////////////////////

.descriptionProduct{
  .item{
    margin: 20px;
    .name{
      font-size: 22px;
      font-weight: 400;
      color: rgb(58, 57, 57);
    }
    .price{
      font-size: 20px;
      font-weight: bold;
      font-family: $secondaryFontFamily ;
      margin: 10px 0;
    }
    .descr{
      color: grey;
      font-family: $secondaryFontFamily;
      font-size: 14px;
      letter-spacing: 1px;
      margin: 10px 0;
    }
    .btn{
      width: 62px;
      background-color: rgba(199, 191, 191, 0.404);
      color: #000;
      border-radius: 50px;
      font-size: 15px;
      padding: 3px 10px;
      font-family: $secondaryFontFamily;
      margin: 10px 0;
      &:hover{
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.comment-container{
  margin-bottom: 50px;
  .inputComment{
    width: 100%;
    height: 60px;
    resize: none;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 10px;
  }

  .btnComment{
    float: right;
    border-radius: 50px;
    background-color: rgba(199, 191, 191, 0.404);
    border: none;
    padding: 5px 15px;
    font-size: 15px;
    &:hover{
      background-color: #000;
      color: #fff;
    }
  }
  .productComments{
    margin-top: 50px;
    .newComment{
      border: 1px solid grey;
      padding: 10px;
      margin-top: 30px;
    }
    .deleteComment{
      float: right;
      border-radius: 50px;
      background-color: rgba(199, 191, 191, 0.404);
      border: none;
      padding: 5px 15px;
      font-size: 15px;
      &:hover{
      background-color: #000;
      color: #fff;
    }

    }
  }
}

////////////About us ////////////////////////

.map{
  margin: 30px 0;
}

.contacts{
  margin: 30px 0;
  .item{
    border: 1px solid $greyColorBtn;
    margin: 0 20px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 5px;
    .svg{
      font-size: 20px;
      margin:0 20px;
    }
    h4{
      font-size: 16px;
    }
    P{
      font-size: 14px;
      color:grey;
    }
  }
}

.about{
  margin: 50px auto;
  h3{
    font-family: $mainFontFamily;
    font-size: 20px;
    margin-bottom: 20px;
  }
  p{
    color: grey;
    font-size: 15px;
  }
  .listTask{
    li{
      color: grey;
      font-size: 15px;
      &:hover{
        color: rgb(151, 148, 148);
      }
    }
  }
}

//////////FAQ///////////////

.faq{
  h2{
    font-size: 22px;
    text-align: center;
    margin: 50px 0;
  }
  .accountQuestions{
    h4{
      font-size: 18px;
    }
    h5{
      font-size: 16px;
    }
    p{
      font-size: 14px;
      color: grey;
    }
  }

  .generalQuestions{
    h4{
      font-size: 18px;
    }
    .accordion {
      background-color: $primary-color;
      color: #000;
      cursor: pointer;
      padding: 16px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 16px;
      transition: 0.5s;
      margin-bottom: 10px;
  }
  
  .active, .accordion:hover {
      background-color: rgba(96, 125, 139, 0.479);
  }
  
  .accordion:after {
      content: '\002B';
      color: #000;
      font-size: 18px;
      font-weight: bold;
      float: right;
      margin-left: 5px;
  }
  
  .active:after {
      content: "\2212";
  }
  
  .panel {
      padding: 0 18px;
      color: grey;
      background-color: #fff;
      font-size: 14px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
  }
  }
}

///////////Blog//////////////////////
.newses{
.item{
  margin-top: 50px;
  .news{
    margin-bottom: 30px;

    img{
      max-width: 100%;
    }

    .upColor{
      background-color: rgba(0, 0, 0, 0);
      max-width: 100%;
      height: 325px;
      position: relative;
      top: -325px;
      margin-bottom: -325px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{
        background-color: rgba(0, 0, 0, 0.356);
      }
      &:hover svg{
        color:#fff;
        border: 1px solid #fff;
      }
      svg{
        font-size: 52px;
        color:rgba(255, 255, 255, 0);
        margin: 10px;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 60px;
        padding:10px 14px;
        &:hover{
          background-color: #000;
          border: 1px solid #000;
        }
      }
    }

    .content{
      background-color: $primary-color;
      padding: 30px;

      h3{
        font-size: 18px;
      }
      /////////////
      .rating_block {
        width: 125px;
        height: 25px;
      }
      .rating_block input[type="radio"] {
        display: none;
      }
      .label_rating {
        float: right;
        display: block;
        width: 25px;
        height: 25px;
        background: url(./image/rating1.png) no-repeat 50% 0;
        cursor: pointer;
      }
    
      .rating_block .label_rating:hover, 
      .rating_block .label_rating:hover ~ .label_rating, 
      .rating_block input[type="radio"]:checked ~ .label_rating 
      {
        background-position: 50% -25px;
      }
      ////////////
      p{
        font-size: 14px;
        color: grey;
      }
      a{
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
        &:hover{
          color: grey;
        }
      }
    }
  }
}
}

////////////Registration//////////////////

.registr{
  margin: 50px 0;
  .form{
    background-color: $primary-color;
    padding: 20px;
    h2{
      text-align: center;
    }
    p{
      text-align: center;
      color: grey;
      color: rgb(124, 108, 108);
    }
    span{
      color: grey;
      font-size: 12px;
      font-weight: bold;
    }
    input{
      width:100%;
      margin-bottom: 20px;
      border: 1px solid rgba(184, 177, 177, 0.623);
    }
    input:invalid {
      border: 1px solid rgba(255, 0, 0, 0.164);
    }
    .registrBtn{
      border-radius: 50px;
      text-decoration: none;
      background-color: #000;
      color: #fff;
      border: 1px solid #000;
      padding: 3px 10px;
      &:hover{
        background-color:$greyColorBtn;
        border: 1px solid $greyColorBtn;
        color: #000;
      }
    }
  }
}

////Log in////////////
.login{
  margin: 50px 0;
  .form{
    background-color: $primary-color;
    padding: 20px;
    h2{
      text-align: center;
    }
    p{
      text-align: center;
      color: grey;
      color: rgb(124, 108, 108);
    }
    span{
      color: grey;
      font-size: 12px;
      font-weight: bold;
    }
    input{
      width:100%;
      margin-bottom: 20px;
      border: 1px solid rgba(184, 177, 177, 0.623);
    }
    .loginBtn{
      border-radius: 50px;
      text-decoration: none;
      background-color: #000;
      color: #fff;
      border: 1px solid #000;
      padding: 3px 10px;
      &:hover{
        background-color:$greyColorBtn;
        border: 1px solid $greyColorBtn;
        color: #000;
      }
    }
  }
}

//////////////////Cart Page///////////////////
.basket{
  .basket-container{
    width: 100%;
    margin-top: 50px;
    .delete-product{
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        color: #000;
      }
    }
  }
  .image-product{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name-product{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 16px;
    font-weight: bold;
  }
  .price-product{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }
  .quantity-product{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;  
    input{
      width: 50px;
      text-align: center;
    }
  }
  .total{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;  
    font-weight: bold;
  }
}

.totalCart{
  display:flex;
  justify-content: flex-end;
  color: #000;
  font-size: 18px;  
  font-weight: bold;
  border-top: 1px solid grey;
}

//////////media//////////////
@media (max-width:960px){
  .titlePage h2 {
    font-size: 20px;
  }
  .container-product .item {
    width: 150px;
    height: 225px;
  }
  .navMenu .shop-menu {
    font-size: 13px;
  }
  .navMenu .shop-menu li {
    font-weight: normal;
    font-size: 14px;
  }
  .navMenu .inputPrice {
    font-size: 14px;
    padding: 10px 10px;
  }
  .close {
    position: fixed;
    right: 17px;
  }
  .item .news .upColor {
    height: 196px;
    top: -195px;
    margin-bottom: -216px;
  }
  .item .news .upColor svg {
    font-size: 46px;
    padding: 6px 13px;
  }
  .item .news .content h3 {
    font-size: 16px;
  }
}

@media (max-width:375px){
  .container-product .item {
    width: 100%;
    height: 360px;
  }
  .contacts .item {
    margin: 0;
  }
  .login {
    margin: 50px 25px;
  }
  .registr {
    margin: 50px 25px;
}

  .newses .item .news .upColor {
    height: 320px;
    margin-bottom: -325px;
    top: -320px;
  }
  .navbar {
    padding: .5rem 0rem !important;
  }

  .container-product .item .img {
    max-width: 80%;
  }
  .container-product .item .name {
    font-size: 16px;
  }
  .container-product .item .btnInfo {
    width: 70px;
    margin: 0 10px;
  }
  .container-product .item .btn {
    width: 70px;
    margin: 0 10px;
  }

  ////////////////
  .navMenu {
    position: relative;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover .shop-menu {
      display: block;
    }
    .shop-menu {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      li {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {background-color: #f1f1f1}
      }
    }
    
  }
  ////////////////////
  .detailedInfo{
    .imageProduct{
      img{
        max-width: 70%;
      }
    }
  }

  .basket .name-product {
    font-size: 12px;
  }

  .basket .price-product {
    font-size: 14px;
  }
  .basket .quantity-product input {
    width: 25px;
    font-size: 14px;
  }
  .basket .quantity-product {
    font-size: 14px;
  }
  .basket .total {
    font-size: 13px;
    font-weight: 500;
  }
  .totalCart {
    font-size: 15px;
  }
}

